.dropdown-input {
  & .input-field-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 330px;
  }
  &-icon {
    position: absolute;
    right: 18px;
    top: 25px;
    width: 10.5px;
    height: 7px;
    pointer-events: none;
  }
}
